.container {
  background-color: #303437;
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
}

.images-container {
  display: flex;
  max-width: 100vw;
  overflow-x: auto;
}

.image {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.493);
  margin-right: 2px;
  max-height: 30vh;
}

.address {
  background-color: #1d1f20;
  padding: 5vw;
}
